.cuadrado{
    width: 150px;           /* Ancho de 150 píxeles */
    height: 150px;          /* Alto de 150 píxeles */
    background: red;        /* Fondo de color rojo */
    border: 1px solid #000; /* Borde color negro y de 1 píxel de grosor */
  }